@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-family: DM Sans, sans-serif;
    font-size: 1.125rem;
    background: $cream;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* CHART STYLE */
main {
    width: 100%;
    padding: 0 1rem;

    .balance--container {
        background: $soft-red;
        border-radius: .5rem;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        h3 {
            color: $very-pale-orange;
            font-size: 1.125rem;
            font-weight: 400;
        }

        span {
            color: $very-pale-orange;
            font-size: 1.375rem;
            font-weight: 700;
        }
    }

    .chart--container {
        background: $very-pale-orange;
        border-radius: .5rem;
        padding: 1rem;

        h2 {
            color: $dark-brown;
            font-size: 1.375rem;
        }

        .chart--subcontainer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 3rem;

            .chart {
                width: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                .column {
                    background: $soft-red;
                    width: 100%;
                    border-radius: .25rem;
                    
                    &.column--mon {
                        height: 3rem;
                    }
                    
                    &.column--tue {
                        height: 5rem;
                        
                    }
                    
                    &.column--wed {
                        background: $cyan;
                        height: 8rem;
                    }

                    &.column--thu {
                        height: 4.5rem;
                    }

                    &.column--fri {
                        height: 3.5rem;
                    }

                    &.column--sat {
                        height: 6rem;
                    }

                    &.column--sun {
                        height: 4.25rem;
                    }
                }

                .day {
                    font-size: .75rem;
                    color: $medium-brown;
                    margin-top: .5rem;
                }
            }
        }
    }

    .total--container {
        margin-top: .25rem;
        border-radius: .5rem;
        padding: 1rem;
        background: $very-pale-orange;

        h3 {
            color: $medium-brown;
            font-weight: 400;
            font-size: 1rem;
        }

        .price {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .total {
                color: $dark-brown;
                font-weight: 700;
                font-size: 1.875rem;
            }

            .last--month {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .percent {
                    color: $dark-brown;
                    font-weight: 700;
                    font-size: 1rem;
                }

                .last {
                    color: $medium-brown;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 400px) {
    main {
        width: 400px;
    }
}