@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-family: DM Sans, sans-serif;
    font-size: 1.125rem;
    background: $cream;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* CHART STYLE */
main {
    border: 1px solid red;
    width: 100%;
    padding: 0 1rem;

    .balance--container {
        background: $soft-red;
        border-radius: .5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        
        h3 {
            color: $very-pale-orange;
            font-size: 1.125rem;
            font-weight: 400;
        }

        span {
            color: $very-pale-orange;
            font-size: 1.375rem;
            font-weight: 700;
        }

    }
}