@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: DM Sans, sans-serif;
  font-size: 1.125rem;
  background: hsl(27deg, 66%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

/* CHART STYLE */
main {
  width: 100%;
  padding: 0 1rem;
}
main .balance--container {
  background: hsl(10deg, 79%, 65%);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
main .balance--container h3 {
  color: hsl(33deg, 100%, 98%);
  font-size: 1.125rem;
  font-weight: 400;
}
main .balance--container span {
  color: hsl(33deg, 100%, 98%);
  font-size: 1.375rem;
  font-weight: 700;
}
main .chart--container {
  background: hsl(33deg, 100%, 98%);
  border-radius: 0.5rem;
  padding: 1rem;
}
main .chart--container h2 {
  color: hsl(25deg, 47%, 15%);
  font-size: 1.375rem;
}
main .chart--container .chart--subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
}
main .chart--container .chart--subcontainer .chart {
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .chart--container .chart--subcontainer .chart .column {
  background: hsl(10deg, 79%, 65%);
  width: 100%;
  border-radius: 0.25rem;
}
main .chart--container .chart--subcontainer .chart .column.column--mon {
  height: 3rem;
}
main .chart--container .chart--subcontainer .chart .column.column--tue {
  height: 5rem;
}
main .chart--container .chart--subcontainer .chart .column.column--wed {
  background: hsl(186deg, 34%, 60%);
  height: 8rem;
}
main .chart--container .chart--subcontainer .chart .column.column--thu {
  height: 4.5rem;
}
main .chart--container .chart--subcontainer .chart .column.column--fri {
  height: 3.5rem;
}
main .chart--container .chart--subcontainer .chart .column.column--sat {
  height: 6rem;
}
main .chart--container .chart--subcontainer .chart .column.column--sun {
  height: 4.25rem;
}
main .chart--container .chart--subcontainer .chart .day {
  font-size: 0.75rem;
  color: hsl(28deg, 10%, 53%);
}
main .total--container {
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background: hsl(33deg, 100%, 98%);
}
main .total--container h3 {
  color: hsl(28deg, 10%, 53%);
  font-weight: 400;
  font-size: 1rem;
}
main .total--container .price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .total--container .price .total {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
  font-size: 1.875rem;
}
main .total--container .price .last--month {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .total--container .price .last--month .percent {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
  font-size: 1rem;
}
main .total--container .price .last--month .last {
  color: hsl(28deg, 10%, 53%);
  font-size: 1rem;
}

@media screen and (min-width: 400px) {
  main {
    width: 400px;
  }
}/*# sourceMappingURL=general.css.map */